<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<% if current_user.manager? %>
  <h4><%= link_to t(".create_user") , signup_path %></h4>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>
<%== pagy_bootstrap_nav(@pagy) %>
