@import "color";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin-left: 200px;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: center;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}
/* header */
#header-custom {
  height: 51px;
  position: fixed;
  width: 100%;
}
header {
  ul {
    padding-top: 30px;
  }
  li {
    list-style: none;
  }
  a {
    color: #fff !important;
    padding-left: 30px;
  }
}

.header-list {
  padding-top: 20px !important;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  margin-left: 15px;
}

table {
  .container {
    margin-top: 30px;
  }
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
.field-group input {
  border-radius: 3px;
  line-height: 34px;
}
input {
  height: auto !important;
  color: black;
}

/* sidebar */

aside {
  section.user_infor {
    h1 {
      text-align: center;
      background-color: rgba(255, 251, 251, 0.678);
    }
    margin-top: 20px;
    background-color: rgba(177, 172, 172, 0.253);
    border-radius: 10px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      font-weight: bold;
      font-style: italic;
    }
  }
}
.gravatar_edit {
  margin-top: 15px;
}
.users {
  list-style: none;
  margin-left: 200px;
  margin-right: 200px;
  li {
    border-radius: 2%;
    background-color: rgba(162, 207, 174, 0.295);
    overflow: auto;
    padding: 10px 10px;
    margin-top: 10px;
    border-bottom: 1px solid $gray-lighter;
    .staff_id {
      float: right;
      padding-top: 15px;
    }
    &:hover,
    &:active {
      background-color: rgba(156, 155, 155, 0.267);
      transform: scale(1.1);
      transform: all 0.1s;
    }
  }
}

/* infor */
.user-infor {
  h1 {
    display: block;
  }
  display: inline-block;
  font-size: 115%;
  font-style: oblique;
  font-weight: bold;
  color: rbg(25, 25, 25);
}

.reports {
  list-style: none;
  padding: 0;
  background-color: #e8e8e82a;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .gravatar {
    margin-right: 10px;
    margin-top: 5px;
  }
}
.reports {
  .content {
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    margin-left: 60px;
  }
  .status {
    padding: 18px;
    border-radius: 8%;
  }
}
/* border table */
.table {
  border: 0;
  padding: 0;
  thead {
    tr {
      td {
        border-top: 1px solid rgba(119, 119, 119, 0.171);
        padding-right: 0%;
      }
      th {
        border-bottom: 0;
        border-top: 0;
      }
    }
  }
}
.report-table {
  th {
    text-align: center;
  }
  td {
    text-align: center;
    &.user {
      width: 150px;
    }
    &.plan_today {
      width: 250px;
    }
    &.time {
      width: 150px;
    }
    &.edit {
      text-align: center;
      width: 150px;
    }
  }
}
.report-detail {
  margin-bottom: 30px;
  p,
  span {
    font-weight: bold;
  }
  .color {
    margin-bottom: 5px;
    padding: 25px;
    border-bottom: 1px solid rgba(4, 9, 20, 0.05);
    border-radius: 10px;
  }
  .box-info {
    margin-bottom: 5px;
    padding: 25px;
    border-bottom: 1px solid rgba(4, 9, 20, 0.05);
    background-color: rgba(220, 226, 222, 0.349);
    border-radius: 10px;
  }
  .col-md-10 {
    text-align: center;
    margin-left: 90px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
  }
}
.color-pending {
  background-color: rgba(255, 230, 4, 0.753);
  padding: 20px;
  border-radius: 5%;
}
.color-approved {
  background-color: rgba(30, 255, 0, 0.753);
  padding: 20px;
  border-radius: 5%;
}
.color-rejected {
  background-color: rgba(255, 0, 0, 0.753);
  padding: 20px;
  border-radius: 5%;
}
.btn-success {
  color: #fff;
  background-color: #4454e9;
  border-color: #4454e9;
  &:active,
  &:hover {
    background-color: #bbb;
  }
}
.btn-lg {
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sidebar {
  width: 80px;
  background-color: transparent;
  padding: 20px;
  &:active,
  &:hover {
    background-color: transparent;
  }
  &.btn-success {
    background-color: transparent;
    border-color: transparent;
  }
}

.department_list {
  margin-left: 120px;
  margin-right: 120px;
  border-bottom: 2px solid rgba(4, 9, 20, 0.219);
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 10px;
}
#sidebar {
  padding-top: 10px;
  margin-top: 50px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  float: left;
  background: $sidebar-background;
  color: $sidebar-color;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: $sidebar-background;
  list-style: none;
  #avatar {
    text-align: center;
    display: block;
    border-radius: 50%;
  }
  #name {
    text-align: center;
    padding-top: 20px;
    font-size: 150%;
    font-weight: bold;
  }
  li {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover,
    &:active {
      border-radius: 5%;
      background-color: rgb(31, 162, 167);
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}
#department-report {
  width: 33%;
  border-bottom: 2px solid rgba(109, 114, 119, 0.712);
  text-align: left;
  font-size: 150%;
  padding-bottom: 10px;
}

.edit a {
  color: white;
}
#width-5 {
  width: 5%;
}
#width-10 {
  width: 10%;
}
#width-15 {
  width: 15%;
}
#width-30 {
  width: 30%;
}
#width-40 {
  width: 40%;
}
#width-45 {
  width: 45%;
}
.search-filter {
  margin-top: 20px;
}
.modal-content {
  padding: 25px;
}
.pull-right {
  text-align: right;
}
#sidebar {
  width: 17%;
  float: left;
}
#container {
  margin-top: 80px;
  width: 83%;
  float: right;
}
.mg-15 {
  margin-left: 15%;
}
.mg-20 {
  margin-left: 20%;
}
.mg-30 {
  margin-left: 30%;
}
.mgr-25 {
  margin-right: 25%;
}
.block-button {
  display: block;
}
#users-show {
  margin-right: 500px;
}
.z-index-1 {
  z-index: 1;
}
.pl-15 {
  padding-left: 15px;
}
