<%= provide :title, t(".report") %>
<h1>
  <%= t ".report" %>
</h1>
<%= render "shared/report_detail", report: @report, user: @user %>
<div class="div-create-bth">
  <%= link_to t(".create"), new_report_path %>
</div>
<div class="div-all-report"></div>
