<%= provide :title, t(".report") %>
<h1>
  <%= t ".report" %>
</h1>
<div class="div-report-filter">
</div>
<div class="div-create-bth">
  <%= link_to t(".create"), new_report_path %>
</div>
<div class="div-all-report"></div>
