<div class="container">
  <div class="row">
  <hr>
     <div class="col-md-4">
        <%= link_to t(".term"), "#" %> | <%= link_to t(".privacy"), "#" %>
      </div>
      <div class="col-md-8">
        <p class="muted pull-right">© 2022 Sun Asterisk. Make awesome things that matter</p>
      </div>
  </div>
</div>
